[data-title]:hover:after {
    opacity: 0.5;
    transition: all 0.9s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    position:absolute;
    margin-top: 40px;
    z-index:9999;
    padding:3px 7px;
    background:#507DBC;
    width: 60px;
    color:#fff;
    font-size: 12px;
    border-radius:4px;
    box-shadow:0px 0px 5px rgba(78, 78, 78, 0.1);
    opacity: 0;
    text-align: center;
    
}

[data-title] {
    position: relative;
}

::-webkit-scrollbar-thumb {background-color:#507dbc;}
::-webkit-scrollbar {background-color:transparent; width:1px; height:1px;}

body {
    background-color:#f5f5f5;
    background-image:url('winter1.jpg');
    background-attachment: fixed;
    background-position: center center;
    
    
    background-repeat: repeat;
    background-size: auto;
    cursor: url(snow-flake.png), auto;

    color:#4f4e4e;
    font-family: 'Karla', sans-serif;
    font-size:13px;
    line-height:calc(13px + 6px);
    font-weight:300;
    text-align:justify;
    margin:0;
}

a {
    color:#4f4e4e;
    text-decoration:none;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

    a:hover {
        color:#4f4e4e;
        text-decoration:none;
    }
    
p a, li a
{box-shadow:#CCCCCC 0px -1px 0px inset;}
p a:hover, li a:hover
{box-shadow:#eaccbe 0px -12px 0px inset;}

img {
    border:none;
    text-decoration:none;
}

b, strong, bold {
    font-weight:800;
}

u {
    text-decoration:none;
}

    .firstletter, u {
        display:block;
        float:left;
        width:30px;
        height:30px;
        display:flex;
        align-items:center;
        justify-content:center;
        font-weight:800;
        font-family:'Abril Fatface', cursive;
        text-transform:uppercase;
        font-size:calc(13px + 4px);
        margin:0px 10px 0px 0px;
    }

s, strike {
    text-decoration-color:#507dbc;
}

small, sub, sup, big {
    font-size:13px;
    line-height:calc(13px + 6px);
    vertical-align:baseline;
}

blockquote {
    padding:0px 5px 0px 15px;
    border-left:1px solid #CCCCCC;
    margin-left:5px;
    margin-right:0px;
}

    blockquote img {
        max-width:360px;
        height:auto;
    }
    
        blockquote blockquote {
            margin-right:0px;
        }
        
            blockquote blockquote img {
                max-width:350px;
                height:auto;
                margin-top:10px;
            }

pre {
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size:calc(13px + 2px);
    text-align:center;
    padding:10px;
    margin:0px;
    border:1px solid #CCCCCC;
    border-radius:40px;
}

    pre i, pre em, pre b, pre strong, pre a {
        color:#4f4e4e;
    }

ul {
    padding-left:15px;
}

    ul li {
        list-style-type:none;
    }
    
        ul li:before {
          content: "— ";
          text-indent: -5px;
        }
        
hr {
    border:none;
    border-bottom:1px solid #CCCCCC;
    width:calc(100% - 150px);
    margin:20px auto 20px auto;
}

svg.feather {
    width:18px;
    height:18px;
}

/* --- header styles --- */

h1 {
    margin:0px 0px 20px 0px;
    font-weight:700;
    font-size:calc(13px + 8px);
}

h2 {
    font-weight:400;
    text-align:left;
    text-transform:uppercase;
    font-size:calc(13px + 2px);
    letter-spacing:1px;
    word-spacing:2px;
}

    h2 b, b h2, h2 i, i h2,
    h2 strong, strong h2, h2 em, em h2 {
        color:#4f4e4e;
    }
    
h3 {
    font-size:calc(20px + 4px);
    font-weight:400;
    margin:10px 0px;
    color:#507dbc;
    text-align:center;
    font-family:'Abril Fatface', cursive;
}
    
/* --- container --- */

.container {
    position:absolute;
    z-index:600;
    top:calc(50% - 300px);
    
    width:1050px;
    left:calc(50% - 526px);
    
    
    height:600px;
    background-color:#e6e5e3;
    border-radius:5px;
    box-shadow:0px 0px 5px rgba(0,0,0,0.05);
    overflow:hidden;
}

/* --- sidebar --- */

.sidebar {
    position:absolute;
    z-index:300;
    top:50px;
    right:50px;
    height:500px;
    width:397px;
    background-color:transparent;
}

.side-nav {
    position:absolute;
    z-index:50;
    top:260px;
    left:0px;
    width:240px;
    height:90px;
}

    .side-nav a {
        position:absolute;
        z-index:5;
        width:20px;
        height:20px;
        transform:scale(1,1);
        cursor: url(snow-flake.png), auto;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    
        .side-nav a:nth-of-type(1) {
            top:0px;
            left:0px;
        }
        
        .side-nav a:nth-of-type(2) {
            top:40px;
            left:60px;
        }
        
        .side-nav a:nth-of-type(3) {
            top:10px;
            left:110px;
        }
        
        .side-nav a:nth-of-type(4) {
            top:69px;
            left:160px;
        }
        
        .side-nav a:hover {
            transform:scale(1.2,1.2);
        }
        
        .side-nav a svg.feather {
            fill:#4f4e4e;
        }
        
    .side-nav-line-1,
    .side-nav-line-2, 
    .side-nav-line-3 {
        position:absolute;
        z-index:1;
        height:1px;
        background-color:#CCCCCC;
    }
    
    .side-nav-line-1 {
        width:45px;
        top:29px;
        left:17px;
        transform:rotate(34deg);
    }
    
    .side-nav-line-2 {
        width:33px;
        top:35px;
        left:80px;
        transform:rotate(-34deg);
    }
    
    .side-nav-line-3 {
        width:78px;
        top:66px;
        left:81px;
        transform:rotate(16deg);
    }

    .side-img {
        position:absolute;
        z-index:12;
        top:40px;
        right:20px;
        width:230px;
        height:280px;
        background-image:url('killua1.gif');
        background-position:center center;
        background-repeat:no-repeat;
        background-size:cover;
        border:1px solid #CCCCCC;
        box-shadow:0px 0px 5px rgba(0,0,0,0.05);
        border-radius:5px 30px 5px 30px;
        filter:brightness(105%);
        transition: 1.5s;
        
    }

    .side-img:hover {
        transform: scale(1.1);
    }
    
    .side-desc1 {
        position:absolute;
        z-index:15;
        top:90px;
        left:30px;
        width:140px;
        height:auto;
        max-height:115px;
        padding:20px;
        overflow:auto;
        background-color:rgba(255,255,255, 0.3);
        backdrop-filter:blur(6.0px);
        webkit-backdrop-filter:blur(6.0px);
        box-shadow:0px 0px 5px rgba(0,0,0,0.05);
        border-radius:5px;
        border:1px solid #CCCCCC;
    }
    
    .side-blob {
        position:absolute;
        z-index:1;
        top:-40px;
        left:-50px;
        width:400px;
        height:400px;
        pointer-events:none;
    }
    
    .side-title {
        position:absolute;
        z-index:16;
        bottom:40px;
        right:10px;
        width:350px;
        height:auto;
        text-align:right;
        font-size:100px;
        color:#507dbc;
        line-height:37px;
        letter-spacing:-0.5px;
        font-family: 'Noto Sans JP', sans-serif;
        text-shadow:0px 5px 5px rgba(10, 16, 55, 0.2);
        transition: all 0.5s ease;
    }
    
        /* .side-title:hover {
           
            font-style: italic;
            color: #f2f2f2;

            
        } */
    
/* --- entries --- */

.entries {
    position:absolute;
    z-index:200;
    top:0px;
    left:0px;
    width:440px;
    height:530px;
    padding:70px 540px 0px 70px;
}

/* --- popups --- */

.pop-about {
    display:none;
    position:absolute;
    z-index:500;
    top:50px;
    left:50px;
    
    width:530px;
    
    
    height:500px;
}

.pop-close {
    position:absolute;
    top:0px;
    right:0px;
    width:18px;
    height:18px;
    cursor: url(snow-flake.png), auto;
}

/* --- popups: about --- */

.about-stats {
    position:absolute;
    top:40px;
    left:0px;
    
    width:160px;
    
    
    height:auto;
    max-height:460px;
    overflow:auto;
    text-align:left;
    background-color:rgba(255,255,255, 0.3);
    backdrop-filter:blur(6.0px);
    webkit-backdrop-filter:blur(6.0px);
    box-shadow:0px 0px 5px rgba(0,0,0,0.05);
    border-radius:5px;
    border-left:10px solid rgba(204,204,204,0.5);
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-content:flex-start;
}

    .about-stats .stat {
        
        width:140px;
        
        
        height:auto;
        border-bottom:1px solid rgba(204,204,204,0.5);
        padding:10px;
        display:flex;
        flex-wrap:wrap;
        justify-content:flex-start;
        align-content:flex-start;
    }
    
        .about-stats .stat:last-of-type {border:none;}
    
    .about-stats .stat b {
        width:100%;
        height:auto;
        margin-bottom:5px;
        color:#507dbc;
        font-family: 'Abril Fatface', cursive;
        text-shadow:0px 0px 5px rgba(208,142,115,0.05);
        font-weight:800;
        font-size:calc(13px + 4px);
    }
    
    .about-stats .stat i {
        font-style:normal;
        width:100%;
        height:auto;
        letter-spacing:1px;
    }
    
.about-handle {
    position:absolute;
    top:0px;
    right:40px;
    
    width:280px;
    
    
    height:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}

    .about-handle-text {
        width:100%;
        height:auto;
        text-align:center;
        margin-top:15px;
    }
    
        .about-handle-text b {
            width:100%;
            display:block;
            font-size:calc(13px + 4px);
        }
        
        .about-handle-text i {
            width:100%;
            display:block;
            font-style:normal;
            color:rgba(79,78,78,0.5);
        }
        
    .about-handle-img {
        display:block;
        width:70px;
        height:70px;
        border-radius:40px;
        box-shadow:0px 0px 5px rgba(0,0,0,0.2);
        background-image:url('angeel.png');
        background-position:center center;
        background-repeat:no-repeat;
        background-size:cover;
        filter: brightness(90%);
        transition: 1s;
    }

    .about-handle-img:hover {
        transform: scale(1.2);
    }
    
.about-text {
    position:absolute;
    top:140px;
    right:20px;
    
    width:300px;
    
    
    height:350px;
    overflow:auto;
    box-sizing:border-box;
    padding:0px 20px 0px 0px;
}


/* --- wave --- */

.bottom-wave {
    position:absolute;
    z-index:1;
    bottom:0px;
    left:0px;
    
    width:1050px;
    height:1050px;
    
    
}

/* --- sidebar --- */

.side {
    position:absolute;
    z-index:50;
    top:0px;
    left:0px;
    width:400px;
    height:600px;
    background-color:#B2C0E7;
    border-radius:4px 0px 0px 4px;
}

    .side-vline {
        position:absolute;
        z-index:1;
        top:-10px;
        left:100px;
        width:1px;
        height:620px;
        background-color:#e5e1de;
    }
    
    .side-hline {
        position:absolute;
        z-index:1;
        top:100px;
        left:-10px;
        height:1px;
        width:550px;
        background-color:#e5e1de;
    }

    .side-imgi {
        position:absolute;
        z-index:10;
        top:80px;
        right:0px;
        width:180px;
        height:180px;
        background-image:url('killua2.gif');
        background-size:cover;
        border-radius:5px;
        border:10px solid #f4f4f4;
        border-bottom:40px solid #f4f4f4;
        outline:1px solid #c7c5b8;
        box-shadow:10px 10px 0px rgba(118,145,183,0.3);
        transform:rotate(3deg);
        filter:contrast(150%) saturate(130%) brightness(0.9);
        transition: 2s;
    }
    
        .side-imgi:after {
            content:'Killua Zoldyck';
            position:absolute;
            bottom:-40px;
            left:0px;
            width:100%;
            height:40px;
            font-family:'Inconsolata', monospace;
            text-align:center;
            display:flex;
            flex-wrap:wrap;
            align-items:center;
            justify-content:center;
        }

        .side-imgi:hover {
            transform:rotate(12deg);
        }
        
    .side-img-paper {
        position:absolute;
        z-index:11;
        top:-20px;
        left:-10px;
        pointer-events:none;
    }
    
        .side-img-paper .blob {
            position:absolute;
            fill:rgba(244,244,244,0.3);
        }
    
    .side-stars {
        position:absolute;
        z-index:15;
        top:70px;
        left:60px;
        width:200px;
        height:180px;
    }
        
        .side-stars:before {
            content:'';
            position:absolute;
            top:-40px;
            left:60px;
            width:40px;
            height:40px;
            border-radius:20px;
            background-color:rgba(80,125,188,1);
        }
        
            .side-stars a {
                position:absolute;
                display:block;
                width:10px;
                height:10px;
                border-radius:10px;
                background-color:rgba(244,244,244,1);
                filter:blur(1px);
                -webkit-animation: twinkle-1 1.5s infinite;
            }
            
            .side-stars a:nth-of-type(1) {
                top:0px;
                left:0px;
            }
            
            .side-stars a:nth-of-type(2) {
                top:50px;
                left:70px;
                -webkit-animation: twinkle-2 1.5s infinite;
            }
            
            .side-stars a:nth-of-type(3) {
                top:110px;
                left:40px;
            }
            
            .side-stars a:nth-of-type(4) {
                top:70px;
                left:120px;
            }
            
            .side-stars a:nth-of-type(5) {
                top:30px;
                left:180px;
                -webkit-animation: twinkle-2 1.5s infinite;
            }
            
                @-webkit-keyframes twinkle-1 {
                    0% {
                        transform:scale(1);
                    }
                    50% {
                        transform:scale(1.3);
                    }
                    100% {
                        transform:scale(1);
                    }
                }
                
                @-webkit-keyframes twinkle-2 {
                    0% {
                        transform:scale(1.3);
                    }
                    50% {
                        transform:scale(1);
                    }
                    100% {
                        transform:scale(1.3);
                    }
                }
            
            .side-stars a:hover {
                background-color:rgba(244,244,244,1);
                box-shadow:0px 0px 0px rgba(244,244,244,0.5);
                -webkit-animation: pulse 1.5s infinite;
            }
            
                @-webkit-keyframes pulse {
                    0% {
                        transform:scale(1);
                    }
                    
                    50% {
                        transform:scale(1.3);
                        box-shadow:0px 0px 0px 30px rgba(244,244,244,0);
                    }
                    
                    100% {
                        transform:scale(1);
                        box-shadow:0px 0px 0px 30px rgba(244,244,244,0);
                    }
                }
                
            .side-stars-line {
                position:absolute;
                height:1px;
                background:#f4f4f4;
            }
            
                .side-stars-line:nth-of-type(1) {
                    top:29px;
                    left:7px;
                    width:65px;
                    transform:rotate(37deg);
                }
                
                .side-stars-line:nth-of-type(2) {
                    top:85px;
                    left:37px;
                    width:46px;
                    transform:rotate(-62deg);
                }
                
                .side-stars-line:nth-of-type(3) {
                    top:65px;
                    left:82px;
                    width:35px;
                    transform:rotate(23deg);
                }
                
                .side-stars-line:nth-of-type(4) {
                    top:56px;
                    left:129px;
                    width:53px;
                    transform:rotate(-36deg);
                }
                
    .side-desc {
        position:absolute;
        z-index:5;
        top:280px;
        left:60px;
        width:200px;
        height:110px;
        padding:45px 20px 20px 30px;
        background-color:#f4f4f4;
        border-radius:5px;
        border:1px solid #c7c5b8;
        overflow:auto;
        background-image: linear-gradient(#c7c5b8 1px, transparent 1px);
        background-size: 20px 20px;
        background-position:center center;
    }
    
        .side-desc-tape {
            position:absolute;
            z-index:6;
            top:310px;
            left:40px;
            width:35px;
            height:120px;
            transform:skew(2deg, 4deg);
            background-color:#507DBC;
            mix-blend-mode:multiply;
        }
        
    .pop-tr {
        position:absolute;
        z-index:100;
        top:350px;
        left:340px;
        width:40px;
        height:40px;
        border-radius:40px;
        color:#f4f4f4;
        background-color:#507DBC;
        display:flex;
        align-items:center;
        justify-content:center;
        cursor: url(snow-flake.png), auto;
        box-shadow:0px 0px 0px rgba(244,244,244,0.5);
        -webkit-animation: pulse-2 2s infinite;
        transition:all ease-in-out 0.8s;
    }
    
        @-webkit-keyframes pulse-2 {
            0% {
            }
            
            50% {
                box-shadow:0px 0px 0px 20px rgba(244,244,244,0);
            }
            
            100% {
                box-shadow:0px 0px 0px 20px rgba(244,244,244,0);
            }
        }
        
        .pop-tr:hover {
            transform:rotate(360deg);
        }
        
    .side-song {
        position:absolute;
        z-index:5;
        left:120px;
        bottom:20px;
        width:300px;
        height:100px;
        text-align:center;
        display:flex;
        flex-wrap:wrap;
        align-items:center;
        justify-content:center;
        align-content:center;
    }
    
        .side-song-title {
            width:100%;
            color:rgba(244,244,244,0.8);
            text-transform:uppercase;
            letter-spacing:1px;
            font-family: 'Karla', sans-serif;
        }
        
            .side-song-title b {
                font-size:2em;
                font-weight:bold;
                color:#f4f4f4;
                text-transform:none;
                font-family: 'Karla', sans-serif;
            }
        
        .side-song-line {
            position:relative;
            width:100%;
            height:2px;
            margin:15px 0px;
            border-radius:5px;
            background-color:rgba(244,244,244,0.5)
        }
        
            .side-song-dot {
                position:absolute;
                top:-4px;
                left:0px;
                width:10px;
                height:10px;
                border-radius:10px;
                background-color:#f4f4f4;
                -webkit-animation: song 30s linear infinite;
            }
            
            @-webkit-keyframes song {
                0% {left:0px;}
                
                10% {left:0px;}
                
                80% {left:100%;}
                
                100% {left:100%;}
            }
        
        .side-song-icons {
            display:flex;
            align-items:center;
            color:#f4f4f4;
        }
        
        .side-song-icons svg {
            width:16px;
            height:16px;
            margin:0px 5px;
        }
        
        .side-song-icons svg:nth-of-type(3) {
            width:25px;
            height:25px;
            fill: #f4f4f4;
        }
.fas {
  padding: 15px;
}

/* --- wave --- */

.wave {
    position:absolute;
    z-index:2;
    top:0px;
    left:350px;
    width:600px;
    height:600px;
}
    

.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white); /* Workaround for Chromium's selective color inversion */
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
}

.fa-snowflake {
    color: #A1C6EA;
}

.fadein {
	-webkit-animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#player-container  #play-pause {
    cursor: url(snow-flake.png), auto;
    bottom: 3px;
    left: 137px;
    display: inline-block;
    text-indent: -999999px;
    z-index: 2;
    background-image: url(play.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    width: 25px;
    height: 25px;
    position: absolute;
    text-align: center;
    }
    
  .play {
    background-image: url(play.svg);
      }
  .pause {
    background-image: url(pause.svg)!important;
      }




.float {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 0px;
	margin-top: 0px;
    animation-delay: 2s;
}

@keyframes floating {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, -25px); }
	100% { transform: translate(0, -0px); }	
}


.blink {
	-webkit-animation: blink-1  3s infinite both;
	        animation: blink-1  3s infinite both;
            animation-delay: 3s;
}


@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }



  
